{% extends "layout.html" %}
{% block body %}<br><br><br>
<style>
  h2 {
    text-align: center;
    font-family: Segoe UI black;
    color:black;
  }
  .table-container {
    justify-content: center;
    padding: 20px;
  }
  table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 30px;
    overflow: hidden;
    margin-left:300px;
  }

  table:hover {
    transform: scale(1.02);
  }

  th, td {
    padding: 12px;
    border-bottom: 2px solid #ddd;
    font-family: Segoe UI black;
    color:black;
  }

  th {
    background: #007bff;
 
    
  }

  tr:hover {
    background: rgba(0, 123, 255, 0.2);
  }

</style>
<div class="container" style="background: rgba(32, 32, 32, 0.6); padding: 1px; border-radius: 13px; color: #0d0d0d;">
  <div class="row mt-3">
    <div class="col-12 mb-1 text-center">
      <b><i><p class="fs-1 para text-light text-decoration-underline"></p></i></b>
      <a href="/order" style="display:inline-block; padding:10px 20px; border:2px solid white; color:white; background:transparent; border-radius:6px; text-decoration:none; font-weight:bold; margin-top:5px;margin-bottom:15px;">Place Order</a>
      <a href="/view_orders" style="display:inline-block; padding:10px 20px; border:2px solid white; color:white; background:transparent; border-radius:6px; text-decoration:none; font-weight:bold; margin-top:5px;">View Orders</a>
    </div>
  </div>
</div>
</div><br><br>
<h2>Daily Sales Summary</h2><br>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Total Sales</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in all_sales %}
        <tr>
            <td>{{ sale.sale_date }}</td>
            <td>₹{{ sale.total_sales }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
